@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --animationduration: 2s;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@mixin fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #EAD8C0;
  display: flex;
  flex-direction: column;
}

header {
  height: 9vh;
  width: 100%;
  background: #A79277;

  .header-content {
    @include fcc;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 0 2rem;

    div {
      width: 25%;
    }

    .figure-mid {
      height: 100%;

      .figure-mid-beaver {
        height: 100%;
        object-fit: contain;
      }
    }

    .figure-flags {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
      height: 50%;

      span {
        font-size: 2rem;
        font-weight: 500;
        color: #000;
      }

      button {
        outline: none;
        border: none;
        background: none;
        height: 100%;
        aspect-ratio: 16/9;
        cursor: pointer;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

main {
  height: 91vh;
  width: 100%;
  @include fcc;
}
