*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

  /* Header  */

  header{
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100vw;
    background: rgb(57, 57, 57)
  }
  
  figure{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .figure-mid > img{
    height: 4.9rem;
  }

  .figure-mid-beaver{
    position: absolute;
    transition: all 1s ease;
  }

  .figure-flags{
    gap: 2rem;
  }

  .figure-flags > div{
    font-size: 4rem;
    font-weight: 500;
    font-family: sans-serif;
  }

  .figure-flags > a > img{
    height: 4rem;
  }

    /* Header  */

    /* Info Section  */

    .info-div-container {
      width: 100%; 
      height: 94.6vh;
      overflow-x: scroll; 
      white-space: nowrap; 
      padding: 1rem;
    }
  
    .info-div-content {
      width: 95rem; 
      height: 84rem; 
      background-color: #f0f0f0;
      display: inline-block;
      
    }

    /* Info Section  */


    /* Animatie Section */


    .animatie-article{
      width: 100%;
      height: 100rem;
      background: gray;
    }


    /* Animatie Section */