@use "./_animations.scss";

.animation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 69;

  .class-container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .lighting-blur {
      display: grid;
      place-items: center;
      aspect-ratio: 1/1;
      border-radius: 50%;
      width: 0;
      box-shadow: 0 0 71px 101px #dcaa71;
      animation: circle-grow var(--animationduration) linear forwards;

      .inner-circle {
        position: relative;
        aspect-ratio: 1/1;
        border-radius: inherit;
        width: 100%;
        background: #000;
        border: 3px solid #FFFB5C;
        -webkit-box-shadow: inset 0 0 6px 2px #FFFB5C, inset 0 0 5px 6px rgba(243, 108, 0, 0.5), 0 0 6px 2px #FFFB5C, 0 0 15px 10px rgba(241, 124, 4, 0.6), 0 0 8px 11px #1c0901eb, inset 0 0 29px 22px #c4720f42;
        -moz-box-shadow: inset 0 0 6px 2px #FFFB5C, inset 0 0 5px 6px rgba(243, 108, 0, 0.5), 0 0 6px 2px #FFFB5C, 0 0 15px 10px rgba(241, 124, 4, 0.6), 0 0 8px 11px #1c0901eb, inset 0 0 29px 22px #c4720f42;
        box-shadow: inset 0 0 6px 2px #FFFB5C, inset 0 0 5px 6px rgba(243, 108, 0, 0.5), 0 0 6px 2px #FFFB5C, 0 0 15px 10px rgba(241, 124, 4, 0.6), 0 0 8px 11px #1c0901eb, inset 0 0 29px 22px #c4720f42;
        animation: inner-circle-grow var(--animationduration) linear forwards;

        .fire-particle {
          aspect-ratio: 1/1;
          height: 20px;
          background-color: #fffc98;
          position: absolute;
          -webkit-box-shadow: 0 0 0 0 #FFFB5C;
          -moz-box-shadow: 0 0 0 0 #FFFB5C;
          box-shadow: 0 0 0 0 #FFFB5C;
          border-radius: 50% 0;


          &:nth-of-type(1) {
            transform-origin: bottom left;
            animation: var(--animationduration) fire-particle-animation-1 linear forwards;
          }

          &:nth-of-type(2) {
            transform-origin: bottom left;
            animation: var(--animationduration) fire-particle-animation-2 linear forwards;
          }

          &:nth-of-type(3) {
            transform-origin: bottom left;
            animation: var(--animationduration) fire-particle-animation-3 linear forwards;
          }

          &:nth-of-type(4) {
            transform-origin: bottom left;
            animation: var(--animationduration) fire-particle-animation-4 linear forwards;
          }

          &:nth-of-type(5) {
            transform-origin: bottom left;
            animation: var(--animationduration) fire-particle-animation-5 linear forwards;
          }

          &:nth-of-type(6) {
            transform-origin: bottom right;
            animation: var(--animationduration) fire-particle-animation-6 linear forwards;
          }

          &:nth-of-type(7) {
            transform-origin: bottom right;
            animation: var(--animationduration) fire-particle-animation-7 linear forwards;
          }

          &:nth-of-type(8) {
            transform-origin: bottom right;
            animation: var(--animationduration) fire-particle-animation-8 linear forwards;
          }

          &:nth-of-type(9) {
            transform-origin: bottom right;
            animation: var(--animationduration) fire-particle-animation-9 linear forwards;
          }

          &:nth-of-type(10) {
            transform-origin: bottom right;
            animation: var(--animationduration) fire-particle-animation-10 linear forwards;
          }
        }
      }
    }
  }
}
